{% extends 'Front/frontbase.html.twig' %}

{% block title %}Mes Vaches{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row mb-4 justify-content-center" style="margin-top: 190px;">
        <div class="col-md-6">
            <form method="get" action="{{ path('app_mes_vaches') }}">
                <div class="input-group">
                    <input type="text" name="search" value="{{ search }}" class="form-control" placeholder="Rechercher">
                        
                    <button class="btn btn-outline-secondary" type="submit">Appliquer</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        {% for vache in vaches %}
            <div class="col-md-4 mb-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-success text-uppercase">{{ vache.name }}</h5>
                        <p class="card-text">
                            <strong>nom:</strong> {{ vache.name }}
                            <strong>Âge:</strong> {{ vache.age }} ans<br>
                            <strong>Race:</strong> {{ vache.race }}<br>
                            <strong>État Médical:</strong> {{ vache.etatMedical }}
                            
                        </p>
                        <div class="text-center">
                            <a href="{{ path('app_dashboard') }}" class="btn btn-primary">Analyse</a>
                            <a href="{{ path('app_vache_edits', { 'id': vache.id }) }}" class="btn btn-warning">Modifier</a>
                        </div>
                    </div>
                    <form action="{{ path('app_vache_deletes', { 'id': vache.id }) }}" method="post" class="position-absolute top-0 end-0 m-2">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vache.id) }}">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette vache ?');"><i class="bi bi-trash"></i></button>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <div class="alert alert-info text-center" role="alert">
                    Aucune vache disponible.
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center mt-4">
        {{ knp_pagination_render(vaches) }}
    </div>

    <div style="position: fixed; bottom: 20px; right: 20px;">
        <a href="{{ path('app_vache_news') }}" class="btn btn-success rounded-circle" style="width: 60px; height: 60px; display: flex; align-items: center; justify-content: center; font-size: 24px;">+</a>
    </div>
</div>
{% endblock %}
