
{% extends 'base.html.twig' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {{ parent() }}

    {% endblock %}
</head>

<body>
    {% block body %}
       
    <div style="display: flex; justify-content: space-between; align-items: center; padding-left: 50px;">
      <h1 class="display-1 ">Commandes</h1>
      <div class="col-sm-6 col-md-4 col-lg-3" style="padding: 10px; size:20px">
          <i class="fa fa-plus-square"></i>
          <a href="{{ path('app_commande_new') }}" style="text-decoration: none; color: black;">Ajouter une commande</a>
      </div>
  </div>

  <table class="table">
      <thead>
          <tr>
              <th>Id</th>
              <th>DateCommande</th>
              <th>Statut</th>
              <th>MontantTotal</th>
              <th>actions</th>
          </tr>
      </thead>
      <tbody>
          {% for commande in commandes %}
          <tr>
              <td>{{ commande.id }}</td>
              <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
              <td>{{ commande.statut }}</td>
              <td>{{ commande.montantTotal }}</td>
             
              <td>


                  
                      <a href="{{ path('app_commande_edit', {'id': commande.id}) }}" class="btn btn-success" style="text-decoration: none; color: #F2F2F2;">Edit</a>
                 

                
                      <a href="{{ path('app_commande_delete', {'id': commande.id}) }}" class="btn btn-danger" style="text-decoration: none; color: #F2F2F2;">Delete</a>
               
              </td>
          </tr>
          {% else %}
          <tr>
              <td colspan="5">no records found</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>











    {% block javascripts %}
    {{ parent() }}
    {% endblock %}

    {% endblock %}
</body>

</html>
{% endblock %}