{% extends 'base.html.twig' %}
{% block content %}
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>
				{% block title %}Welcome!
				{% endblock %}
			</title>
			<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
			{% block stylesheets %}
				{{ parent() }}
				<style>
					.text-orange {
						color: orange;
					}
					.text-success {
						color: green;
					}
					.text-warning {
						color: yellow;
					}
				</style>
			{% endblock %}
		</head>
		<body>
			{% block body %}

				<h1>Reservation</h1>

				<table class="table">
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ reservation.id }}</td>
						</tr>
						<tr>
							<th>Reservation_date</th>
							<td>{{ reservation.reservationDate ? reservation.reservationDate|date('Y-m-d H:i:s') : '' }}</td>
						</tr>
						<tr>
							<th>Status</th>
							<td>{{ reservation.status }}</td>
						</tr>
						<tr>
							<th>Prix</th>
							<td>{{ reservation.prix }}</td>
						</tr>
						<tr>
							<th>Commentaire</th>
							<td>{{ reservation.commentaire }}</td>
						</tr>
						<tr>
							<th>Confirmation</th>
							<td>{{ reservation.confirmation ? 'Yes' : 'No' }}</td>
						</tr>
					</tbody>
				</table>

				<a href="{{ path('app_reservation_index') }}" style="text-decoration: none; color: black; padding-left:950px">Back to list</a>
				{{ include('Back/reservation/_delete_form.html.twig') }}


				{% block javascripts %}
					{{ parent() }}
				{% endblock %}

			{% endblock %}
		</body>
	</html>
{% endblock %}
