<<<<<<< HEAD
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_start(form, {'attr': {'class': 'form-group'}}) }}

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #f8f9fa;">
    <div style="background: white; padding: 40px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); width: 700px; max-height: 90%; overflow-y: auto;">
        {{ form_start(form, {'attr': {'class': 'form-group', 'novalidate': 'novalidate'}}) }}
 
        {% for field in [form.reference, form.taille, form.valeurTemperature, form.valeurAgitation,form.vache] %}
            <div class="mb-4">
                {{ form_label(field, null, {'label_attr': {'class': 'form-label fw-bold'}}) }}
                {{ form_widget(field, {'attr': {'class': 'form-control', 'placeholder': 'Entrez ' ~ field.vars.label|lower}}) }}
                {% if field.vars.errors|length > 0 %}
                    <div class="alert alert-danger mt-2 p-2" style="border-left: 5px solid #dc3545; border-radius: 5px;">
                        {% for error in field.vars.errors %}
                            <p class="mb-0 fw-bold">{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <div class="text-center mt-5">
            <button class="btn btn-dark btn-lg px-5">{{ button_label|default('Enregistrer') }}</button>
        </div>

        {{ form_end(form) }}
    </div>
</div>
  
=======
{{ form_start(form, {'attr': {'class': 'form-group'}}) }}

{% for field in form %}
    <div class="mb-3" style="gap: 20px; width:600px">
        {{ form_label(field, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(field, {'attr': {'class': 'form-control', 'placeholder': field.vars.label}}) }}

        {{ form_errors(field) }}
    </div>
{% endfor %}

<button class="btn btn-outline-dark btn-fw">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
>>>>>>> 7c535b1bed9f0b42015bf80bdc2d087f96aa8d3f
