{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<h1>Produit</h1>

<table class="table">
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ collier.id }}</td>
    </tr>
    <tr>
      <th>Reference</th>
      <td>{{ collier.reference }}</td>
    </tr>
    <tr>
      <th>Taille</th>
      <td>{{ collier.taille }}</td>
    </tr>
    <tr>
      <th>ValeurTemperature</th>
      <td>{{ collier.valeurTemperature }}</td>
    </tr>
    <tr>
      <th>ValeurAgitation</th>
      <td>{{ collier.valeurAgitation }}</td>
    </tr>

  </tbody>
</table>

<div class="text-center mt-3">
  <a href="{{ path('app_collier_index')  }}" class="btn btn-secondary btn-lg">Back to List</a>
</div>



{{ include('Back/collier/_delete_form.html.twig') }}
{% endblock %}