{% extends 'base.html.twig' %}
{% block content %}
	<!DOCTYPE html>
	<html>
		<head>
		
			<meta charset="UTF-8">
			<title>
				{% block title %}Welcome!
				{% endblock %}
			</title>
			<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
			{% block stylesheets %}
				{{ parent() }}

			{% endblock %}
		</head>
		<body>
			{% block body %}

				<h1>
					Delete Reclamation</h1>

				<table class="table">
					<tbody>
						<tr>
							
						</tr>
						<tr>
							<th>Titre</th>
							<td>{{ reclamation.titre }}</td>
						</tr>
						<tr>
							<th>Description</th>
							<td>{{ reclamation.description }}</td>
						</tr>
						<tr>
							<th>Statut</th>
							<td>
										{% if reclamation.status == 'pending' %}
											<label class="badge badge-danger" style="padding:20px ; font-size:13px" >Pending</label>
											
										{% elseif reclamation.status == 'confirmed' %}
											<label class="badge badge-success" style="padding:20px ; font-size:13px">Completed</label>
										{% elseif reclamation.status == 'canceled' %}
											<label class="badge badge-warning" style="padding:20px ; font-size:13px">In progress</label>
										{% endif %}
									</td>
						</tr>
						<tr>
							<th>DateSoumission</th>
							<td>{{ reclamation.dateSoumission ? reclamation.dateSoumission|date('Y-m-d H:i:s') : '' }}</td>
						</tr>
					</tbody>
				</table>

				{{ include('Back/reclamation/_delete_form.html.twig') }}
				<a href="{{ path('app_reclamation_index') }}" style="text-decoration: none; color: black; padding-left:950px">back to list</a>


				{% block javascripts %}
					{{ parent() }}
				{% endblock %}

			{% endblock %}
		</body>
	</html>
</body></html>{% endblock %}
