{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}
) }}
{{ form_start(form, {'attr': {'class': 'form-group'}}) }}

<div class="mb-3" style="gap: 20px; width:600px">
	{{ form_label(form.firstName, "Prénom", {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.firstName, {
        'attr': {
            'class': 'form-control' ~ (form.firstName.vars.errors|length > 0 ? ' is-invalid' : ''), 
            'placeholder': 'Entrez votre prénom'
        }
    }) }}
	{% if form.firstName.vars.errors|length > 0 %}
		<div class="invalid-feedback">
			{{ form_errors(form.firstName) }}
		</div>
	{% endif %}
</div>

<div class="mb-3" style="gap: 20px; width:600px">
	{{ form_label(form.lastName, "Nom", {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.lastName, {
        'attr': {
            'class': 'form-control' ~ (form.lastName.vars.errors|length > 0 ? ' is-invalid' : ''), 
            'placeholder': 'Entrez votre nom'
        }
    }) }}
	{% if form.lastName.vars.errors|length > 0 %}
		<div class="invalid-feedback">
			{{ form_errors(form.lastName) }}
		</div>
	{% endif %}
</div>

<div class="mb-3" style="gap: 20px; width:600px">
	{{ form_label(form.number, "Numéro de téléphone", {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.number, {
        'attr': {
            'class': 'form-control' ~ (form.number.vars.errors|length > 0 ? ' is-invalid' : ''), 
            'placeholder': 'Entrez votre numéro de téléphone'
        }
    }) }}
	{% if form.number.vars.errors|length > 0 %}
		<div class="invalid-feedback">
			{{ form_errors(form.number) }}
		</div>
	{% endif %}
</div>


<div class="mb-3" style="gap: 20px; width:600px">
	{{ form_label(form.email, "Adresse Email", {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.email, {
        'attr': {
            'class': 'form-control' ~ (form.email.vars.errors|length > 0 ? ' is-invalid' : ''), 
            'placeholder': 'Entrez votre email'
        }
    }) }}
	{% if form.email.vars.errors|length > 0 %}
		<div class="invalid-feedback">
			{{ form_errors(form.email) }}
		</div>
	{% endif %}
</div>


<div class="mb-3" style="gap: 20px; width:600px">
	{{ form_label(form.roles, "Sélectionnez votre rôle", {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.roles, {'attr': {'class': 'form-select'}}) }}
	{{ form_errors(form.roles) }}
</div>

<button class="btn btn-outline-dark btn-fw">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
