{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.Nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.Prix }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ produit.Etat }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.Description }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ produit.categorie }}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center mt-3">
        <a href="{{ path('app_produit_index') }}" class="btn btn-secondary btn-lg">Back to List</a>
    </div>

    

    {{ include('Back/produit/_delete_form.html.twig') }}
{% endblock %}
