{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

{{ form_start(form, {'attr': {'class': 'form-group'}}) }}

<div class="mb-3" style="gap: 20px; width:600px">
	{{ form_label(form.nom, "Le nom de la vache", {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le lieu de la consultation'}}) }}
	{% if form_errors(form.nom) %}
		<div class="alert alert-danger mt-2 p-1">
			{{ form_errors(form.nom) }}
		</div>
	{% endif %}
</div>
<div class="mb-3" style="gap: 20px; width:600px">
	{{ form_label(form.date, "Date de la consultation", {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.date, {'attr': {'class': 'form-control', 'type': 'date'}}) }}
	{% if form_errors(form.date) %}
		<div class="alert alert-danger mt-2 p-1">
			{{ form_errors(form.date) }}
		</div>
	{% endif %}
</div>

<div class="mb-3" style="gap: 20px; width:600px">
	{{ form_label(form.heure, "Heure de la consultation", {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.heure, {'attr': {'class': 'form-control', 'type': 'time'}}) }}
	{% if form_errors(form.heure) %}
		<div class="alert alert-danger mt-2 p-1">
			{{ form_errors(form.heure) }}
		</div>
	{% endif %}
</div>

<div class="mb-3" style="gap: 20px; width:600px">
	{{ form_label(form.lieu, "Lieu de la consultation", {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.lieu, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le lieu de la consultation'}}) }}
	{% if form_errors(form.lieu) %}
		<div class="alert alert-danger mt-2 p-1">
			{{ form_errors(form.lieu) }}
		</div>
	{% endif %}
</div>
<div class="mb-3" style="gap: 20px; width:600px">
	{{ form_label(form.rapportmedical, "Le rapport médical correspondant", {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.rapportmedical, {'attr': {'class': 'form-select'}}) }}
	{% if form_errors(form.rapportmedical) %}
		<div class="alert alert-danger mt-2 p-1">
			{{ form_errors(form.rapportmedical) }}
		</div>
	{% endif %}
</div>
<div class="mb-3" style="gap: 20px; width:600px">
	{{ form_label(form.vache, "La vache correspondante", {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.vache, {'attr': {'class': 'form-select'}}) }}
	{% if form_errors(form.vache) %}
		<div class="alert alert-danger mt-2 p-1">
			{{ form_errors(form.vache) }}
		</div>
	{% endif %}
</div>
<button class="btn btn-outline-dark btn-fw">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
