{% extends 'base.html.twig' %}
{% block content %}
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>
				{% block title %}Welcome!
				{% endblock %}
			</title>
			<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
			{% block stylesheets %}
				{{ parent() }}

			{% endblock %}
		</head>
		<body>
			{% block body %}
				<h1 class="display-1 ">Consultation</h1>

				<table class="table">
					<tbody>

						<tr>
							<th>Id</th>
							<td>{{ consultation.id }}</td>
						</tr>
						<tr>
							<th>Nom de la vache</th>
							<td>{{ consultation.nom }}</td>
						</tr>
						<tr>
							<th>Date</th>
							<td>{{ consultation.date ? consultation.date|date('Y-m-d') : '' }}</td>
						</tr>
						<tr>
							<th>Heure</th>
							<td>{{ consultation.heure ? consultation.heure|date('H:i:s') : '' }}</td>
						</tr>

						<tr>
							<th>Lieu</th>
							<td>{{ consultation.lieu }}</td>
						</tr>
					</tbody>
				</table>


				{{ include('Back/consultation/_delete_form.html.twig') }}
				<a href="{{ path('app_consultation_index') }}" style="text-decoration: none; color: black; padding-left:1200px">back to list</a>


				{% block javascripts %}
					{{ parent() }}
				{% endblock %}

			{% endblock %}
		</body>
	</html>
{% endblock %}
